body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    padding-left: 4rem;
    padding-top: 1rem;
}
.right{
    padding-right: 7rem;
    text-align: center;
}
.content{
    padding-top: 5rem;
}
.content h2{
    color: #7EBAD2; 
    font-weight: 900;
    font-size: 30px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color: #FFC200;
    text-decoration: none;
    width: 7rem;
    height: 3rem;  
    border-style: none;
}
.btn-1{
    background-color: #FFC200;
    text-decoration: none;
    width: 16rem;
    height: 3rem;  
    border-style: none;
    border-radius: 20px;
    font-weight: 500;
}
.input{
    width: 15rem;
    height: 45px;
    padding-left: 25px;
    border-radius: 20px;
    border-color: #7EBAD2; 
    opacity: 0.5;
    color: black;
}